<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intracer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.InTracer">
        <activity
            android:name=".Fr_chat.VideoChatActivity"
            android:exported="false" />
        <activity
            android:name=".Fr_groups.AttendanceList"
            android:exported="true" />
        <activity
            android:name=".Fr_groups.QrActivity"
            android:exported="true" />
        <activity
            android:name=".Fr_groups.ScanQRActivity"
            android:exported="true" />
        <activity
            android:name=".Fr_groups.MembersActivity"
            android:exported="true" />
        <activity
            android:name=".Fr_groups.ListActivity"
            android:exported="true" />
        <activity
            android:name=".Fr_groups.CreateActivity"
            android:exported="true" />
        <activity
            android:name=".Fr_groups.GroupActivity"
            android:exported="true" />
        <activity
            android:name=".Fr_chat.NewChatActivity"
            android:exported="true" />
        <activity
            android:name=".Fr_chat.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".UserLogin.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".UserLogin.PasswordActivity"
            android:exported="true" />
        <activity
            android:name=".UserLogin.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>